<div class="py-5 px-6">
  <div class="relative h-[300px] cursor-pointer img-container">
    <img [src]="heroItem.img" class="w-full h-full object-cover rounded-lg" />
    <button
      class="w-9 h-9 flex items-center justify-center rounded-full shadow-sm absolute right-3 top-3 bg-white cursor-pointer z-10 hover:shadow-xl"
    >
      <img src="/img/upload.svg" class="w-4 h-4" />
    </button>
    <button
      class="btn-right hidden w-9 h-9 items-center justify-center rounded-full shadow-sm absolute right-3 top-[50%] bg-white cursor-pointer z-10 hover:shadow-xl"
    >
      <img src="/img/arrow-right.svg" class="w-4 h-4" />
    </button>
  </div>
  <div class="flex flex-col mt-2">
    <span class="font-medium text-base text-black">{{ heroItem.title }}</span>
    <span class="font-medium text-gray-500 text-sm">{{ heroItem.hosted }}</span>
    <span class="font-semibold text-black text-sm">{{ heroItem.status }}</span>
  </div>
</div>
