/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mdl-js {
  overflow-x: hidden;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.menu-active::after {
  content: "";
  display: block;
  width: calc(100% - 1rem);
  height: 2px;
  background-color: black;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}
.tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.tab-bar.hidden {
  transform: translateY(100%);
}
.transition-search-head {
  transition-property: width, transform;
  transition-duration: 0.4s, 0.2s;
}
.zoom-out-search-head {
  position: absolute;
  width: 100%;
  transform: translate(-122px, -165px);
}
.zoom-out-search-head .title-search-menu-hide {
  display: none;
}
.zoom-out-search-head .title-search-zoom-out {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 18%;
}
.img-container:hover .btn-right {
  display: flex;
}
@media (min-width: 1024px) {
  .zoom-out-search-head {
    transform: translate(0, -165px);
  }
  .zoom-out-search-head .search-header {
    width: 415px;
    justify-content: center;
    position: relative;
    padding-right: 20px;
  }
  .zoom-out-search-head .search-header .btn-search {
    position: absolute;
    right: 15px;
  }
}
@media (min-width: 1440px) {
  .zoom-out-search-head {
    transform: translate(0, -130px);
  }
}
