<div
  class="flex items-center justify-start max-w-96 mx-auto rounded-[50px] border py-2 px-3 shadow-lg gap-3"
>
  <div class="w-[40px] h-full">
    <img class="w-[25px] h-fulll object-contain" src="/img/search-icon.svg" />
  </div>
  <div class="flex flex-col gap-1 py-1">
    <span class="font-semibold text-black text-sm leading-none">Where to?</span>
    <ul class="flex items-center content-start gap-2 leading-none">
      <li class="text-gray-500 text-[12px]">Anywhere</li>
      <span class="rounded-full w-[4px] h-[4px] block bg-gray-500"></span>
      <li class="text-gray-500 text-[12px]">Any week</li>
      <span class="rounded-full w-[4px] h-[4px] block bg-gray-500"></span>
      <li class="text-gray-500 text-[12px]">Add guests</li>
    </ul>
  </div>
</div>
